* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: hsl(275, 100%, 97%);
}
header {
  height: 300px;
  width: 100%;
  background: url("assets/images/background-pattern-desktop.svg");
  background-size: cover;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  transform: translateY(-100px);
  max-width: 400px;
  margin: 20px;
}
main .container .logo {
  display: flex;
  align-items: center;
  color: hsl(292, 42%, 14%);
  gap: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details .card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  padding: 10px;
}
.details .card .text {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.details .card .text img {
  width: 25px;
  cursor: pointer;
}
.details .card p{
  font-size: 10px;
  opacity: 0.8;
}
.info {
  display: none;
}
#minusIcon{
  display: none;
}